.logincontainer {
    background-color: #fff;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

.rootlogin {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dab928
}

.dvlogin {
    border-radius: 10px;
    background: #ffffff;
    padding: 8px;
}